<!-- ヒーローバナー部分 -->
<section class="hero is-medium bg-img">
  <div class="hero-body">
    <div class="container has-text-centerd">
      <h1 class="subtitle is-1 has-text-primary">
        「招き猫」へようこそ！
      </h1>
      <h2 class="subtitle is-4 has-text-primary">
        当サイトへ初めてお越しになられた方は<%= link_to "「初めての方はこちら」", "/homes/about" %>をご覧ください
      </h2>
    </div>
  </div>
</section>

<div class="columns">
	<!-- 募集一覧 -->
	<div class="column is-half ">
	  <div class="box">
		<h3 class="subtitle">
		  里親募集中の猫
		</h3>
  		</div>
	  </div>

	<!-- 投稿一覧 -->
	<div class="column is-half ">
  	  <div class="box">
		<h3 class="subtitle">
		うちの子自慢
		</h3>
  	  </div>
	</div>
</div>
