// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-img {
    background-image: image-url("img2.jpg");
    background-position: center;
    background-size: cover;
}
